# macOS
.DS_Store

# Xcode user data
xcuserdata/
**/xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Build outputs
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# App signing files
*.p12
*.mobileprovision
